footer(class='footer')
  div(class='footer__container')
    div Created by 
      a(href='https://github.com/Nikolai-Adamovich/task8-nodejs-express-2' target='_blank') Mikalai Adamovich
    div Powered by 
      a(href='https://www.heroku.com/' target='_blank') Heroku
    div Powered by 
      a(href='https://www.mongodb.com/cloud/atlas' target='_blank') MongoDB Atlas