.form {
  margin: 0 auto;
  padding: 50px 0;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  &__field {
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  &__input {
    padding: 5px 10px;
    width: 100%;
    color: $light-gray;
    border: none;
    background-color: $teal;
    @include placeholder($light-gray);
  }

  &__button {
    padding: 5px 10px;
    color: $light-gray;
    border: none;
    background-color: $teal;
    cursor: pointer;
  }

  &__image-preview {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &--filled {
      height: 300px;

      span {
        display: none;
      }
    }
  }

  label {
    width: 100%;
  }
}