extends layout

block content
  h1 Admin panel
  div(class='form__field')
    a(class='form__button', href='/admin/create-news') Create news
  div(class='form__field')
    a(class='form__button', href='/admin/users-list') Users list