.mat-card {
  margin: 1.25rem;
}

.mat-card-actions {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.mat-form-field {
  width: 100%;
}

.cke-field {
  padding: 0.84375rem 0 1.125rem;
  position: relative;

  .mat-error {
    font-size: 0.75rem;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
