div(class='article-panel')
    a(href=`/admin/edit-news/${news.slug}` class='button button--edit' id='edit-button' title='edit')
    a(href=`/admin/delete-news/${news.slug}` class='button button--delete' id='delete-button' title='delete')