<h1 mat-dialog-title>Add external image url</h1>
<form #addUrlForm="ngForm" class="form" novalidate>
  <div>
    <mat-form-field>
      <input matInput ngModel #url="ngModel" name="url" placeholder="Image url"
        [pattern]="urlRe" required>
      <mat-error *ngIf="url.errors?.required">Image url is required</mat-error>
      <mat-error *ngIf="url.errors?.pattern">Invalid url</mat-error>
    </mat-form-field>
  </div>
  <mat-dialog-actions align="end">
    <button [disabled]="addUrlForm.invalid" mat-button [mat-dialog-close]="url.value">Add</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
