@import '../../../scss/variables';

:host {
  width: 100%;
}

.popup-message {
  margin-top: 10px;
  width: 100%;
  position: relative;
  background: $default;
  color: white;


  &--error {
    background: $red;
    color: white;
  }

  &--success {
    background: $green;
    color: white;
  }
}

.popup-message__content {
  margin-right: 20px;
}

.popup-message__close-button {
  position: absolute;
  top: 5px;
  right: 0;
}
